.container{
                border-radius: 5px;
                background: white;
                padding: 10px; 
                width: 1073px;
                height: 1300px; 
                opacity: 0.9;
                margin: auto;
        } 
        .containermain{
                border-radius: 5px;
                background:linear-gradient(#007991,#78ffd6);
                padding: 10px; 
                width: 1100px;
                height: 3450px; 
                position: relative;
                margin: auto;
        } 
        .img1{
            background-image: url("../img/imgg1.png");           
            width: 300px;
            height: 400px;
            margin-left: 60px;
            resize: 
        }
        .img2{
              background-image: url("../img/imgg2.png");
            width: 300px;
            height: 400px;
            margin-top: 30px;
           margin-left: 60px;
        }
        .img3{
             background-image: url("../img/imgg3.png");
            width: 300px;
            height: 400px;
            margin-top: 30px;
            margin-left: 60px;
          
        }
        .container8{
                
                background:linear-gradient(#007991,#78ffd6);
               
        } 
        .containermain8{
                border-radius: 5px;
                background:rgba(0,0,0,0.8);
                padding: 10px; 
                width: 1100px;
                height: 1450px; 
                position: relative;
                margin: auto;
        } 
         .boxes{
                border-radius: 5px;
                border:solid white;
                padding: 10px; 
                width: 300px;
                height: 250px; 
                position: relative;
                margin:auto;
                top:90px;
               
                
        } 
        .box{
                border-radius: 5px;
                
                padding: 10px; 
                width: 550px;
                height: 1100px; 
                position: absolute;
                top: 100px
              
                
        } 
        .box2{
                border-radius: 5px;
                border:solid black 2px;
                padding: 10px; 
                width: 550px;
                height: 300px; 
                position: absolute;
                top: 100px
              
                
        } 
        .loginheader
        {
                border-radius: 5px 5px 0px 0px;
                background: #034EA1;
                padding: 10px; 
                width: 401px;
                height: 20px; 
                opacity: 0.9;
                margin: auto;
                position: top;
                color: white;
                top:0px;
                left:0px;
                position: absolute;
                text-align: center;

            

        }
        .loginbox
        {
                border: 1px solid;
                border-color: #034EA1;
                 border-radius: 5px;
                padding: 10px; 
                width: 400px;
                height: 280px; 
                opacity: 0.9;
                top: 100px;
                margin: 0 auto;
                right: 1px;
                position: relative;
                background-color: white;
                opacity: 0.8;
                box-shadow: 0px 0px 5px ;
        }
        .regheader
        {
                border-radius: 5px 5px 0px 0px;
                background: #034EA1;
                padding: 10px; 
                width: 451px;
                height: 20px; 
                opacity: 0.9;
                margin:auto;
                position: absolute;
                color: white;
                top:0px;
                left:-1px;
                position: absolute;
                text-align: center;

            

        }
         .Regbox
        {
                border: 1px solid;
                border-color: #034EA1;
                 border-radius: 5px;
                padding: 10px; 
                width: 450px;
                height: 670px; 
                opacity: 0.9;
                top: 30px;
                margin: 0 auto;
                right: 1px;
                position: relative;
                background-color: white;
                opacity: 0.8;
                box-shadow: 0px 0px 5px ;
        }
        .shipheader
        {
                border-radius: 5px 5px 0px 0px;
                background: black;
                padding: 10px; 
                width: 601px;
                height: 20px; 
                opacity: 0.9;
                margin:auto;
                position: absolute;
                color: white;
                top:0px;
                left:-1px;
                position: absolute;
                text-align: center;

            

        }
         .shipbox
        {
                border: 1px solid;
                border-color: black;
                 border-radius: 5px;
                padding: 10px; 
                width: 600px;
                height: 670px; 
                opacity: 0.9;
                top: 30px;
                margin: 0 auto;
                right: 1px;
                position: relative;
                background-color: black;
                opacity: 0.8;
                box-shadow: 0px 0px 5px ;
        }
         .formbox
         {
                margin-top: 50px;
                
                position: relative;
                
        }
         .textborder
         {
                border: 1px solid;
                 border-radius: 2px;
                 padding: 10px;
                 border-color: #ccc;
                 width: 130px;
                
        }
          .regtextborder
         {
                border: 1px solid;
                 border-radius: 2px;
                 padding: 10px;
                 top:30px;
                 border-color: #ccc;
                 width: 160px;
                font-family: 'raleway' , sans-serif;
        }

         .shiptextborder
         {
                    color: white;
                border: 1px solid;
            background-color: black;
                 border-radius: 2px;
                 padding: 10px;
                 top:30px;
                 border-color: #ccc;
                 width: 160px;
                font-family: 'raleway' , sans-serif;
        }
        .buttonblue
        {
                border: 1px solid;
                 border-radius: 5px;
                 padding: 10px;
                 width: 80px;
                 background-color: #034EA1;
                 color: white;
                 
                
        }
        .buttonblue8
        {
                border: 1px solid;
                 border-radius: 5px;
                 padding: 10px;
                 width: 140px;
                 background-color: #034EA1;
                 color: white;
                 
                
        }
        .loginbuttonblue
        {
                 top: 0;
                 border: 1px solid;
                 border-radius: 5px;
                 padding: 10px;
                 width: 80px;
                 background-color: #034EA1;
                 color: white;
                 position: absolute;
                 margin: auto;
                 left: 175px;
                 top: 210px;
                 
                
        }
         .regbuttonblue
        {
                 
                 border: 1px solid;
                 border-radius: 5px;
                 padding: 10px;
                 width: 250px;
                 background-color: #034EA1;
                 color: white;
                 position: absolute;
                 margin: auto;
                 left: 105px;
                 top: 490px;
                 text-align: center;
                 text-decoration: none;
                 font-family: 'raleway' , sans-serif;
                 cursor: pointer;
                 
                
        }
        .place-image
        {
            display:none;
        }

        div.place-image{
        width:326px;
        height:326px;  
        }
         .shipbuttonblue
        {
                 top: 0;
                 border: 1px solid;
                 border-radius: 5px;
                 padding: 10px;
                 width: 250px;
                 background-color: black;
                 color: white;
                 position: absolute;
                 margin: auto;
                 left: 105px;
                 top: 360px;
                 text-align: center;
                 text-decoration: none;
                 font-family: 'raleway' , sans-serif;
                 cursor: pointer;
                 
                
        }
         .shipbuttonblue:hover
        {
                background-color: white;
                color: black;
                 
                
        }
         .buttonorange
        {
               
                 border-radius: 5px;
                 height: 50px;
                 width: 120px;
                 background-color: #e65245;
                 color: #e65245;
                 top: 150px;
                 margin-left: 90px;
                 position: absolute;
                 
                
        }
         .buttonorangehov
        {
               
                 border-radius: 5px;
                 height: 50px;
                 width: 120px;
                 background-color: #e65245;
                 color: #e65245;
                 top: 150px;
                 margin-left: 90px;
                 position: absolute;
                 opacity: 0;
                 
                
        }
        .buttonorangehov:hover{
                 background: #411;
        }
        h6 {
                font-family: Consolas, monaco, monospace;
                font-size: 20px;
                font-style: normal;
                font-variant: normal;
                font-weight: 500;
                line-height: 0px;
                position: left;
            }
            .Signuptext{
               font-family: 'raleway' , sans-serif;
                font-size: 15px;
                font-style: italic;
                font-variant: normal;
                font-weight: 400;
                line-height: 0px;
                position: absolute; 
                color: black;
                margin: auto;
                top: 270px;
                left: 135px;
        }
             .Showpasstext{
               font-family: 'raleway' , sans-serif;
                font-size: 15px;
                font-style: italic;
                font-variant: normal;
                font-weight: 400;
                line-height: 0px;
               
                color: white;
            
        }
         
         
        h6.userlogintext{
               font-family: 'raleway' , sans-serif;
                font-size: 20px;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                line-height: 0px;
                position: relative;
                margin-top: 10px;  
                color: white;

        }
         h6.userloginboxtext{
               font-family: 'raleway' , sans-serif;
                font-size: 20px;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                line-height: 0px;
                position: relative;
                margin-top: 40px;  
                color: black;

        }

        .gradientbg{

            background: linear-gradient(#30E8BF,#FF8235);

            height: 3530px;
            width: auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;



        }
        .shopbg{

            background-image: url("../img/toukachan.jpg");

            height: auto;
            width: auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;



        }
        .gradientindexbg{

            background: linear-gradient(#F3904F,#3B4371);

            height: 747px;
            width: auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;



        }
        .gradientindexbgship{

            background: grey;

            height: 747px;
            width: auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;



        }
        .contentbox{
              border-radius: 5px;
                padding: 10px; 
                width: 510px;
                height: 1100px; 
                position: absolute;
                top: 100px;
                right: 10px;

        }
        p.contenttxt {
               font-family: 'Anton', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-variant: normal;
                font-weight: 500;
                color: #7a2828;
                position: absolute;
                top:150px;
                overflow: hidden;
                white-space: normal;   
         }
         .heading {
               font-family: 'Anton', sans-serif;
                font-size: 60px;
                font-style: normal;
                font-variant: normal;
                font-weight: 500;
                color: white;
                position: absolute;
                margin-left: 150px;

                
            }
            .header{
                width: 1100px;
                height: 90px;
                border-radius: 5px;
                position: absolute;
            }
             .footer{
                width: 1100px;
                height: 90px;
                border-radius: 5px;
                position: absolute;
                bottom: 10px;
            }
            .boxheading {
               font-family: 'Anton', sans-serif;
                font-size: 30px;
                font-style: normal;
                font-variant: normal;
                font-weight: 500;
                color: #ffffff;
                position: absolute;
                top:110px;
                margin-left: 70px;
                z-index: 1;
                transition: top .5s ease;
            }
            .boxes:hover .boxheading {
              top: 80px;
                }
             .btnheading {
               font-family: 'Anton', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-variant: normal;
                font-weight: 500;
                color: white;
                position: absolute;
                top: 25px;
                margin :auto;
                margin-left: 35px;
               
            }
            .contentbox>.show{
               
                
               
                right: 60px;
              }
            .buttonorange:hover{
                background: #411;

            }
            .boxes:hover .buttonorangehov {
              opacity: 1;
              
                }
            hr.verticalLine {
                transform: rotate(90deg);
                color: #7a2828;
                position: relative;
                top:343px;
                overflow: hidden;


              }

             
              
              #show1{
                
              }
              #show2{
                
              }
              #show3{
                
              }
              #show4{
                
              }
              #show5{
                
              }
              #show6{
                
              }
              #show7{
                
              }
              #show8{
                
              }
              #show9{
                
              }
